.ds-button {
  border: 1px solid #eee;
  border-radius: 13px;
  background-color: #FFFFFF;
  cursor: pointer;
  font-size: 25px;
  padding: 13px 10px;
  margin: 10px;
  transition: all 1.3s ease;
  outline: none;
}
