.ds-container{
  width: 100%;
  text-align: center;
  margin-bottom: 30px
}

.ds-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  .ds-col{
    flex-basis: 0;
    flex-grow: 1;
    .ds-table-element{
      vertical-align: middle;
      text-align: center;
      .ds-blue-text{
        color: rgba(107, 147, 252, 1);
      }
    }
  }
}
