.left-bar-item {
    display: flex;
    flex-flow: column nowrap;
    border-top: 1px solid rgba(196, 196, 196, 1);
    padding-top: 25px;
    padding-bottom: 10px;





    .left-bar-shown-line {
        flex-basis: auto;
        display: flex;
        flex-flow: row-reverse nowrap;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        .item-title {
            flex-basis: 100%;
            text-align: left;
            top: 127px;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 300;
            color: rgba(51, 51, 51, 1);
            letter-spacing: 0.0006em;
        }
    }

    .sub-menu {
        flex-basis: auto;
        display: flex;
        flex-flow: column nowrap;
        a{
          padding-left: 20px;
          padding-right: 20px;
          flex-basis: auto;
          margin-bottom: 10px;
          height: 40px;
          line-height: 40px;
          display: block;
          color: rgba(51, 51, 51, 1);
          text-decoration: none;
        }
        a:hover{
          background-color: rgba(51, 51, 51, 1);
          color: rgba(255, 255, 255, 1);
        }
    }
}

.left-bar-item:last-of-type {
    border-bottom: 1px solid rgba(196, 196, 196, 1);
}
