font-face {
    font-family: Roboto;
    src: url(./Roboto-Regular.ttf) format ("truetype");
}
.left-bar-item {
    border-top: 1px solid rgba(196, 196, 196, 1);
    /*flex-basis: 20px;*/
    display: flex;
    flex-flow: row-reverse nowrap;
    height: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0px;
}
.left-bar-item:last-of-type{
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.left-bar-item>.item-title {
    flex-basis: 100%;
    text-align: left;
    top: 127px;
    margin-left: 20px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    color: rgba(51, 51, 51, 1);
    letter-spacing: 0.0006em;
}
.left-bar-item>.sub-menu{

}
