@import '../../../../../ds-core/src/colors';


.dark-blue {
    background-color: $dark-blue;
}

.basic-blue {
    background-color: $basic-blue;
}

.light-blue {
    background-color: $light-blue;
}

.link-blue {
    background-color: $link-blue;
}

.done-green {
    background-color: $done-green;
}

.acid-green {
    background-color: $acid-green;
}

.dark-purple {
    background-color: $dark-purple;
}

.purple {
    background-color: $purple;
}

.stuck-red {
    background-color: $stuck-red;
}

.bazooka {
    background-color: $bazooka;
}

.working-orange {
    background-color: $working-orange;
}

.egg-yolk {
    background-color: $egg-yolk;
}

.jeans {
    background-color: $jeans;
}

.grass-green {
    background-color: $grass-green;
}

.poop {
    background-color: $poop;
}
// Grayscale Pallete
.blackish {
    background-color: $blackish;
}

.american-gray {
    background-color: $american-gray;
}

.explosive {
    background-color: $explosive;
}

.dark-marble {
    background-color: $dark-marble;
}

.marble {
    background-color: $marble;
}

// .brand-primary {
//     background-color: $brand-primary;
// }
//
// .brand-success {
//     background-color: $brand-success;
// }
//
// .brand-info {
//     background-color: $brand-info;
// }
//
// .brand-warning {
//     background-color: $brand-warning;
// }
//
// .brand-danger {
//     background-color: $brand-danger;
// }
//
// .brand-inverse {
//     background-color: $brand-inverse;
// }
