// 1. Colors
//

// Primary UI Colors:

$dark-blue:                 #0086c3 !default;
$basic-blue:                #00a1e5 !default;
$light-blue:                #61caf7 !default;
$link-blue:                 #256bc9 !default;
$done-green:                #00ca72 !default;
$acid-green:                #00efa4 !default;
$grass-green:               #037f4c !default;
$dark-purple:               #839dc5 !default;
$purple:                    #a25ddc !default;
$stuck-red:                 #e2445c !default;
$bazooka:                   #f6577c !default;
$working-orange:            #fdab3d !default;
$egg-yolk:                  #ffcb00 !default;
$jeans:                     #597bfc !default;
$poop:                      #cab641 !default;

// Grayscale Pallete:

$blackish:                  #333333 !default;
$american-gray:             #808080 !default;
$explosive:                 #c4c4c4 !default;
$dark-marble:               #f1f1f1 !default;
$marble:                    #f7f7f7 !default;

$brand-primary:             $basic-blue !default;
$brand-shareable:           $purple     !default;
$brand-private:             $bazooka    !default;
$brand-alert:               $stuck-red  !default;
