// 1. Colors
//

// Primary UI Colors:

$dark-blue:                 #0086c3 !default;
$basic-blue:                #00a1e5 !default;
$light-blue:                #61caf7 !default;
$link-blue:                 #256bc9 !default;
$done-green:                #00ca72 !default;
$acid-green:                #00efa4 !default;
$grass-green:               #037f4c !default;
$dark-purple:               #839dc5 !default;
$purple:                    #a25ddc !default;
$stuck-red:                 #e44258 !default;
$bazooka:                   #f6577c !default;
$working-orange:            #fdab3d !default;
$egg-yolk:                  #ffcb00 !default;
$jeans:                     #597bfc !default;
$poop:                      #cab641 !default;

// Grayscale Pallete:

$blackish:                  #333333 !default;
$american-gray:             #808080 !default;
$explosive:                 #c4c4c4 !default;
$dark-marble:               #f1f1f1 !default;
$marble:                    #f7f7f7 !default;

$brand-primary:             $basic-blue !default;
$brand-shareable:           $purple     !default;
$brand-private:             $bazooka    !default;
$brand-alert:               $stuck-red  !default;
$brand-success:             $done-green !default;

$white:                     #ffffff !default;

.ds-text-primary {
  color: $brand-primary;
}

.ds-text-shareable {
  color: $brand-shareable;
}

.ds-text-private {
  color: $brand-private;
}

.ds-text-alert {
  color: $brand-alert;
}

.ds-text-success {
  color: $brand-success;
}

.ds-text-white {
  color: $white;
}

.ds-text-dark-blue {
  color: $dark-blue;
}

.ds-text-basic-blue {
  color: $basic-blue;
}

.ds-text-light-blue {
  color: $light-blue;
}

.ds-text-link-blue {
  color: $link-blue;
}

.ds-text-done-green {
  color: $done-green;
}

.ds-text-acid-green {
  color: $acid-green;
}

.ds-text-grass-green {
  color: $grass-green;
}

.ds-text-dark-purple {
  color: $dark-purple;
}

.ds-text-purple {
  color: $purple;
}

.ds-text-stuck-red {
  color: $stuck-red;
}

.ds-text-bazooka {
  color: $bazooka;
}

.ds-text-working-orange {
  color: $working-orange;
}

.ds-text-egg-yolk {
  color: $egg-yolk;
}

.ds-text-jeans {
  color: $jeans;
}

.ds-text-poop {
  color: $poop;
}

.ds-text-blackish {
  color: $blackish;
}
.ds-text-american-gray {
  color: $american-gray;
}
.ds-text-explosive {
  color: $explosive;
}
.ds-text-dark-marble {
  color: $dark-marble;
}
.ds-text-marble {
  color: $marble;
}
