.color-display-container {
    height: 110px;
    width: 202px;
    border-radius: 4px;
    position: relative;
    user-select: none;

    .hex-title {
        position: absolute;
        top: 10px;
        left: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        text-align: left;
    }

    .color-display-text-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 10px;
        left: 10px;

        .color-title{
          font-weight: bold;
        }

        .copy-text{
          font-size: 23px;
        }
    }


    .mouseIn {
        opacity: 0.0;
    }

    &:hover {
        .mouseIn {
            opacity: 1.0;
            transition: all 0.2s ease-in-out;
        }

        .mouseOut {
            opacity: 0.0;
            transition: all 0.2s ease-out-in;
        }
    }
    &:active{
      filter: brightness(92%);
    }
}
